<div class="main row mt-5 mb-3">
    <div class="col-12 col-md-6">
        <div class="card border-primary">
            <div class="card-header bg-secondary text-large text-white text-center">
                {{ "Add Your awesome Post" | uppercase }}
            </div>

            <form class="card-body" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label for="locationName">Location Name</label>
                    <input type="text" class="form-control" id="locationName" name="locationName" placeholder="Enter Name" [(ngModel)]="locationName" required />
                </div>

                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea type="text" rows="5" class="form-control" id="description" name="description" [(ngModel)]="description" required placeholder="some description"></textarea>
                </div>

                <div class="text-center mb-3 d-flex flex-column align-items-center">
                    <label for="imagepicker" class="mb-3">
              Add your awesome photo
            </label>

                    <input type="file" name="image" id="imagepicker" accept="image/*" multiple="{false}" (change)="uploadFile($event)" class="form-control-file" />
                    <div class="text-info text-center" *ngIf="uploadPercent && uploadPercent != 100">
                        uploading {{ uploadPercent | percent }} % <br /> Please wait a little...
                    </div>
                    <div class="text-success text-uppercase text-center" *ngIf="uploadPercent == 100">
                        Upload finished
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!picture">
              Submit Post
            </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center mb-5">
        <h3 *ngIf="picture" class="text-success text-center mt-3 mt-md-0 text-uppercase">
            Your Image
        </h3>
        <img *ngIf="picture" [src]="picture" alt="" class="img-fluid" height="300" width="300" />
    </div>
</div>