/* You can add global styles to this file, and also import other style files */

body {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
}

.active {
    border-bottom: 1px solid #fff;
}

.add-post-btn {
    border-radius: 5px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.img-post {
    height: 400px !important;
}

.cursor-pointer {
    cursor: pointer;
}

@media (min-width: 768px) {
    .card.feed-card {
        max-width: 600px;
        min-width: 600px !important;
    }
}