/* You can add global styles to this file, and also import other style files */

body {
    position: relative;
    min-width: 100%;
    min-height: 100vh;
}

.active {
    border-bottom: 1px solid #fff;
}

.add-post-btn {
    border-radius: 5px;
}